# =====================
# Python
# =====================

venv/
__pycache__/
*.py[cod]
*$py.class


# =====================
# Environment variables
# =====================

.env
.env.*
!.env.example

# =====================
# Uploads
# =====================

uploads/


# =====================
# IDEs
# =====================

.vscode/
.idea/


# =====================
# Logs
# =====================

*.log


# =====================
# Database
# =====================

*.sqlite3
*.db


# =====================
# OS files
# =====================

.DS_Store
Thumbs.db